<div class="jumbotron text-center">
    

    <div class="banner">
        {{#if home}}
            <h1>All The Financial News That's Fit To Read</h1>
        {{else}}
            <h1>Some Saved Financial News That's Fit To Read</h1>
        {{/if}}
        <h5>From your friends at:</h5>
        <h4>CNBC and Fox Business Network</h4>
    </div>

    {{#if home}}
        <a href="/saved">
            <button class="btn btn-success float-left">Saved Articles</button>
        </a>
        <button class="btn btn-warning float-right" id="scrapedClear">Clear Scraped</button>
        <button class="btn btn-primary float-right" id="scrapeFbn">Scrape FBN</button>
        <button class="btn btn-primary float-right" id="scrapeCnbc">Scrape CNBC</button>
    {{else}}
        <a href="/">
            <button class="btn btn-success float-left">Home Page</button>
        </a>
    {{/if}}
</div>