<div class="modal fade" id="modalNotes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-lg modal-notify modal-primary" role="document">
        <div class="modal-content text-center">
          <div class="modal-header d-flex justify-content-center">
            <h3 class="heading">Add A Note</h3>
          </div>
          <!--Body-->
          <div class="modal-body">
            {{#each notes}}
              <div class="container">

                <div class="row">
                  <div class="col-md-10">
                    <h5>
                      {{message}}
                    </h5>
                  </div>
                  <div class="col-md-2">
                    <button class="delete-note btn-danger btn" data-id="{{_id}}">
                      Save
                    </button>
                  </div>
                </div>

              </div>
            {{/each}}

            <form class="add-note-form">
                <div class="form-group">
                  <label for="noteTxt">Note</label>
                  <input  id="noteTxt" class="form-control" placeholder="Comment" type="text">
                </div>
            </form>

          </div>
          <!--Footer-->
          <div class="modal-footer flex-center">
            <button class="btn btn-primary waves-effect" data-dismiss="modal" id="addNote">Submit</button>
            <button class="btn btn-danger waves-effect" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>