<div class="modal fade" id="modalNotes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-lg modal-notify modal-primary" role="document">
        <div class="modal-content text-center">

          <div class="modal-header d-flex justify-content-center">
            <h3>Add A Note to ...</h3>
          </div>

          <div class="modal-body container">

            <h5 id="modalHeadline">=</h5>

            <form class="add-note-form">
                <div class="form-group">
                  <input id="noteTxt" class="form-control" placeholder="Comment" type="text">
                </div>
            </form>

          </div>
         
          <div class="modal-footer flex-center">
            <button class="submit-note btn btn-primary waves-effect" data-dismiss="modal">
              test
            </button>
            {{!-- <button class="update-note btn btn-primary waves-effect" data-dismiss="modal">
              Update
            </button> --}}
            <button class="delete-note btn-warning btn" data-dismiss="modal">
              Delete
            </button>
            <button class="btn btn-danger waves-effect" data-dismiss="modal">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>