<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<title>Extra! Extra! Read All About It</title>

	<!-- stylesheets: bootstrap, app specific -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="../../assets/css/style.css" type="text/css" />

	<!-- fonts -->
	{{!-- <link href="https://fonts.googleapis.com/css?family=Caveat+Brush|Pacifico&display=swap" rel="stylesheet"> --}}

	<!-- js: jquery, bootstrap, app specific are in index.hbs-->
	
</head>
<body>
	{{{ body }}}
</body>
</html>