<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="/" class="navbar-brand">All the Financial News</a>
		</div>
		<ul class="nav navbar-nav">
			<li class="active"><a href="/">Home</a></li>
			<li><a href="/saved">Saved Articles</a></li>
			<li><a class="btn btn-default scrape-cnbc">Scrape CNBC</a></li>
			<li><a class="btn btn-default scrape-fbn">Scrape Fox Biz</a></li>
		</ul>
	</div>
</nav>
<div class="jumbotron text-center">
	<div class="messages">

	</div>
	<div class="background">

	</div>
	<div class="banner">
		<h1>Example App: Home</h1>
		<h3>From your friends at:</h3>
		<h2>CNBC</h2>
		<h2>Fox Business Network</h2>
	</div>
</div>
<div class="container-fluid articles-container">

</div>
<footer class="footer">
	<div class="container">
		<p>Extra! Extra! Read all the financial news that's fit to print</p>
	</div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
	crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" 
	crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
	crossorigin="anonymous"></script>

{{!-- <script src="https://code.jquery.com/jquery.js"></script> --}}
{{!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> --}}
<script src="../../assets/js/index.js"></script>
