<div class="container">

  {{> header home=true }}

    <div class="display-row">
  {{#each articles}}

    {{#unless saved}}


      <div class="row">

        <div class="col-md-1">
          <p>{{source}}</p>
        </div>

        <div class="col-md-9">
          <a href="{{link}}" target="_blank">
            {{headline}}
          </a>
        </div>

        <div class="col-md-2">
          <button class="save-it btn-success btn" data-id="{{_id}}">
            Save
          </button>
        </div>

      </div>

    {{/unless}}

  {{/each}}
    </div>

</div>
  


<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="../../assets/js/index.js"></script>



