<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="/" class="navbar-brand">All the Financial News</a>
		</div>
		<ul class="nav navbar-nav">
			<li class="active"><a href="/">Home</a></li>
			<li><a href="/saved">Saved Articles</a></li>
			<li><a class="btn btn-default scrape-cnbc">Scrape CNBC</a></li>
			<li><a class="btn btn-default scrape-fbn">Scrape Fox Biz</a></li>
		</ul>
	</div>
</nav>
<div class="jumbotron text-center">
	<div class="display">

	</div>
	<div class="background">

	</div>
	<div class="banner">
		<h1>Example App: Home</h1>
		<h3>From your friends at:</h3>
		<h2>CNBC</h2>
		<h2>Fox Business Network</h2>
	</div>
</div>

<div class="news">

	<div class="container">
		<div>
			<h1>Extra! Extra! Read All About It</h1>
		</div>

		<div class="row">

			<div class="col-sm-6 col-box">
				<h3>New News</h3>

				<ul>
				{{#each article}}
					{{#unless saved}}
						<li>
							{{title}}

							<button class="save-it btn-success btn-sm" data-id="{{id}}">
									Save
							</button>

							<button class="delete btn-warning btn-sm" data-name="{{burger_name}}">
									Delete
							</button>
						</li>

					{{/unless}}
				{{/each}}
				</ul>
			</div>
			
		</div>

	</div>
		
</div>